.login{
  width: 25%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  border: 1px solid #eee;

}


.login h2{
  text-transform: uppercase;
  font-size: 32px;
}

.form{
  height: 300px;
}

.formLabel{
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.formInput{
  width: 300px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  outline: none;
}

.submitBtn{
  width: 100%;
  background: #000;
  color: #eee;
  font-size: 24px;
  font-variant: small-caps;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 7px;
}