.storyContainer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .error {
    color: red;
  }
  
  .content {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .author {
    font-style: italic;
    color: #555;
  }
  
  .public {
    color: green;
  }
  
  .anonymous {
    color: purple;
  }
  

  